body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

img {
    height: 580px;
    width: auto;
}